<?php
/**
 * @var \Magento\Framework\View\Element\Template $block
 * @var \Magento\Framework\Escaper $escaper
 */
?>
<div data-trigger="popup-review">
    <button><?= $escaper->escapeHtml(__('Just do it')); ?></button>
</div>
<script type="text/x-magento-init">
{
    ".block.review-add": {
        "Magento_Ui/js/modal/modal": {
            "buttons": false,
            "modalClass": "modal-add-review-popup",
            "trigger": "[data-trigger=popup-review]"
        }
    }
}
</script>
