<?php
/* @var $block Magento\Framework\View\Element\Template */?>



<div class="mage-template" style="padding: 30px; border: 1px solid red" data-mage-init='{"mageReviewExample":{}}'>
    akjhfgkajs
    askdgahg
 <button class="button-click action primary">Button</button>
    <p>Вот так<?=$block->getData('blabla');
        echo 'zfaraza'.'<br>';
//        echo $block->getData('blabla'); ?><!-- and so on</p>-->
    <p><?= $block->getBlabla(); ?></p>
    <p><?= $block->getBlablaTwo(); ?></p>

    <p><?= $block->getData('blabla_two'); ?></p>
    <h1>здесь конец</h1>

</div>

<div class="mage-template" style="padding: 30px; border: 1px solid red" data-mage-init='{"mageReviewExampleNew":{}}'>
    <p><?= $block->getData('blabla_two'); ?></p>
</div>

<script type="text/x-magento-init">
    {
        "*":{
               "Magento_Theme/js/button-js":{}
        }
    }
</script>
