
<?php /**
*  @var $block Magento\Framework\View\Element\Template
 *
 */?>

<div class="mage-template-modal">
    <button id="modal-btn" >Click me for modal task</button>
</div>

<div id="modal-content-3" data-mage-init='{"mageModalTask": {}}'>
    <div class="modal-inner-content" >
        <h2>Modal Title!</h2>
        <p>Modal content…..</p>
<!--            --><?php //$myModal = $this->getChild('review_form'); ?>
    </div>

</div>
<!--data-bind="scope: requestChild('review_form')"-->
