<?php /**
 *  @var $block Magento\Framework\View\Element\Template
 *
 */?>
<div class="test-modal">
<div class="mage-template-modal1" >
    <button id="modal-btn1" >New Review Modal</button>
</div>
<div id="modal-content" data-mage-init='{
        "Magento_Ui/js/modal/modal": {
            "buttons": false,
            "modalClass": "modal-system-messages",
            "title": "Review-module",
            "trigger": "#modal-btn1"
        }
    }'>


    <div class="modal-inner-content"  >
        <h2>Modal Title</h2>
        <p><?php $block->getChildHtml() ?></p>

    </div>

</div>
</div>
<script type="text/x-magento-init">
{
        "*": {
          "IdeaInYou_ReviewModal/js/mageReviewModal" : {}
        }

}
</script>
<!--data-mage-init='{"mageReviewModal":{}}'-->
